.body-item {
    font-size: 18px !important;
    margin-bottom: 16px !important;

}

.body-container {
    margin: 16px 0;

}

.label {
    text-align: right;
    width: 150px;
    display: inline-block;
    color: #565959;
    margin-right: 16px;
}

.img {
    width: 100%;
}

.body-item-footer {
    color: #0f1111;
    font-size: 14px;
}